<div class='chatbox'>
	<div class='chatbox-header'>
		<div class='chatbox-icon'>
		</div>
		<div class='chatbox-title'>
			<div class='h1 room-title'>{{name}}</div>
			<div class='h2'>University of British Columbia</div>
		</div>
		<div class="chatbox-controls">
		<div class="chatbox-exit btn" href='#'><i class="fa fa-close"></i>
		</div>
		<div class="chatbox-minimize btn" href='#'><i class="fa fa-minus"></i></div>
		</div>
	</div>
	<div class='chatbox-content'>
		<div class='chatbox-messages'>
			{{collection-element class="messages-wrapper" tag="div"}}
		</div>
		<div class='chatbox-input input-group'>
			<input type="text" class="form-control message-box" placeholder="Enter Message" maxlength="200">
			<span class="input-group-btn send-message">
				<button class="btn btn-default" type="button"><i class='fa fa-paper-plane'></i></button>
			</span>
		</div>
	</div>
</div>
<div class="chatbox-settings-window"><div class="chatbox-settings-user-container"></div><div class="chatbox-settings-bottom"></div></div>
<i class='fa fa-cog fa-lg chatbox-settings'></i>