<div id='searchbar' class="input-group">
    <input id="search-content" type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
        <button id="do-search" class="btn btn-default" type="button"><i class='fa fa-search'></i></button>
    </span>
</div>
{{view searchResults}}