node_modules/*
bower_components/*
deploy/*
build/*
frontend/js/libs/*
!frontend/js/libs/require
frontend/js/libs/require/*
!frontend/js/libs/require/async.js
!frontend/js/libs/sidr
frontend/js/libs/sidr/*
!frontend/js/libs/sidr/jquery.sidr.min.js
frontend/css/style.css
!frontend/js/libs/thorax
frontend/js/libs/thorax/*
!frontend/js/libs/thorax/thorax.js
!frontend/js/libs/socketio
frontend/js/libs/socketio/*
!frontend/js/libs/socketio/socket.io.js