node_modules/*
!node_modules/couchbase
node_modules/couchbase/*
!node_modules/couchbase/deps
node_modules/couchbase/deps/*
!node_modules/couchbase/deps/lcb
node_modules/couchbase/deps/lcb/*
!node_modules/couchbase/deps/lcb/libcouchbase.gyp
!node_modules/couchbase/deps/lcb/include
node_modules/couchbase/deps/lcb/include/*
!node_modules/couchbase/deps/lcb/include/libcouchbase
node_modules/couchbase/deps/lcb/include/libcouchbase/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins
node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io
node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/libuv
node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/libuv/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/libuv/libuv_compat.h