node_modules/*
!node_modules/couchbase
node_modules/couchbase/*
!node_modules/couchbase/deps
node_modules/couchbase/deps/*
!node_modules/couchbase/deps/lcb
node_modules/couchbase/deps/lcb/*
!node_modules/couchbase/deps/lcb/libcouchbase.gyp
!node_modules/couchbase/deps/lcb/include
node_modules/couchbase/deps/lcb/include/*
!node_modules/couchbase/deps/lcb/include/libcouchbase
node_modules/couchbase/deps/lcb/include/libcouchbase/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins
node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io
node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/libuv
node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/libuv/*
!node_modules/couchbase/deps/lcb/include/libcouchbase/plugins/io/libuv/libuv_compat.h
bower_components/*
deploy/*
build/*
frontend/js/libs/*
!frontend/js/libs/require
frontend/js/libs/require/*
!frontend/js/libs/require/async.js
!frontend/js/libs/sidr
frontend/js/libs/sidr/*
!frontend/js/libs/sidr/jquery.sidr.min.js
frontend/css/style.css
!frontend/js/libs/thorax
frontend/js/libs/thorax/*
!frontend/js/libs/thorax/thorax.js
!frontend/js/libs/socketio
frontend/js/libs/socketio/*
!frontend/js/libs/socketio/socket.io.js