*
{
    margin:0px;
    padding:0px;
}

html
{
    height: 100%;
}
  
body
{
    position:relative;
    min-height: 100%;
    background: #3c3d42;
    font-family: "Roboto";
    background: url('../assets/forest-dim.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
} 

/* Map Page Stuff */

#mappage
{
    
}

#menubar
{
    position: fixed;
    margin:30px;
    width:40%;
    z-index: 2;
}

.profilepic
{
    background: url('../assets/profilepic/placeholder.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

.bigpic
{
    position: fixed;
    z-index: 10;
    left:30px;
    height: 60px;
    width: 60px;
}

.chatpic
{
    height: 40px;
    width: 40px;
}

.foreign-message .chatpic
{
    float: left;
}

.local-message .chatpic
{
    float: right;
}

#profilepic:hover
{
    box-shadow: 0px 2px 2px #888888;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#searchbar
{
    position:relative;
    width: 80%;
    left: 75px;
    margin: 10px;
}

@media (max-width: 400px)
{
    #searchbar .input-group-btn .btn
    {
        width: 40px;
    }
}


@media (min-width: 400px)
{
    #searchbar .input-group-btn .btn
    {
        width: 70px;
    }
}


/* Login Stuff */

@media (max-width: 400px) 
{
    #centerlogin
    {
        width: 160px;
        margin-left: -90px;
        margin-top: -270px;
        position:absolute;
    }
}

@media (min-width: 400px) {
    #centerlogin
    {
        width: 360px;
        margin-left: -180px;
        margin-top: -180px;
    }
}

#loginpage
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../assets/backgrounds/forest-dim.jpg') no-repeat;
    background-size: cover;
    z-index: 5;
}

#centerlogin
{
    top: 50%;
    left: 50%;
    position:absolute;
    text-align: center;
    display: block;
}

#localelogo
{
    position: relative;
    background: url('../assets/logo/Locale-Logo.png') no-repeat 50% 50%;
    background-size: contain;
    display: block;
    height:170px;
    width: 100%;
}

#facebook
{
    text-align:center;
    float:left;
    background:#365195;
    padding:35px 10px 20px 10px;
    width:170px;
    height:170px; 
    border-radius:3px;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px #161718; 
    margin-right:10px;
    margin-top: 10px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#facebook:hover
{
box-shadow: 0px 0px 0px 0px #161718;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.fa-facebook
{
color:#fff;
font-size:7em;
display:block;
}

#google-plus
{
    text-align:center;
    float:left;
    background:#ce1f1f;
    padding:35px 10px 20px 10px;
    width:170px;
    height:170px; 
    border-radius:3px;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px #161718; 
    margin-right:10px;
    margin-top: 10px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#google-plus:hover
{
box-shadow: 0px 0px 0px 0px #161718;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.fa-google
{
color:#fff;
font-size:7em;
display:block;
}

a
{
color:#88887a;
text-decoration:none;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

a:hover
{
color:#fff;
margin-left:5px;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}


#connect
{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-align: left;
    padding-top:10px;
}

footer
{
    color: #fff;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    z-index: 2;
}

#mappage {
   height: 100%;
   width: 100%;
   position: absolute;
}

#map-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#chatarea {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
}

.chatbox {
    z-index: 2;
    background: #fff;
    margin: 0px 5px;
    border: 2px solid #234C47;
    border-radius: 3px 3px 0px 0px;
    width: 300px;
}

.chatbox-input {
    position: relative;
    width: 296px;
    padding: 3px 1px 1px 1px;
}

.chatbox-input .message-box
{
    border: none;
    border-radius: 
}

.chatbox-input .input-group-btn
{
    border: none;
}

.chatbox-input .input-group-btn .btn
{
    border: 1px solid #FFF;
}

.chatbox-input .input-group-btn .btn:hover
{
    color: #234C47;
}

.chatbox-header {
    height: 40px;
    background: #234C47;
}

.chatbox-controls {
    float: right;
    position: relative;
    width: 50px;
    z-index: 4;
}

.chatbox-controls div {
    float: right;
    padding: 0px 5px;
    margin: 1px;
    color: #FFF;
}

.chatbox-controls .btn:hover {
    color: #888888;
}

.chatbox-icon {
    background: url('../assets/demo/nwhacks.png') no-repeat;
    background-size: cover;
    border-radius: 2px;
    float: left;
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.chatbox-title {
    float: left;
    position: relative;
    width: 120px;
    padding: 5px;
    color: #FFF;
}

.chatbox-title div
{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

.chatbox-title .h1 {
    font-size: 14px;
    font-weight: 700;
}
.chatbox-title .h2 {
    font-size: 11px;
    color: #888888;
}


#profile-content-sidr {
    font-size:;
    padding: 20px;
    padding-top: 50px;
    float: right;
    right: 50px;
    position: absolute;
}

#room-header {
    top:125px;
    position:relative;
    left: 80px;
    font-size: 20px;
}

#room-container{
    top: 150px;
    position:relative;
}

.chatbox-messages {
    border-radius: 0px 0px 2px 2px;
    position: relative;
    height: 300px;
    background: #fff;
}

.chatbox-content {
/*    display: none;*/
    background:#234C47;
}

.messages-wrapper {
    position: absolute;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    bottom: 0;
}

.message-content-wrapper {
    width: 220px;
    margin: 0px 0px 10px 5px;
    position: relative;
}

.foreign-message .message-content-wrapper
{
    border-top: 10px solid #161718;
    border-left: 10px solid transparent;
    float: left;
}

.foreign-message .message-content
{
    background: #161718;
}

.local-message .message-content-wrapper
{
    border-top: 10px solid #234C47;
    border-right: 10px solid transparent;
    float: right;
}

.local-message .message-content
{
    background: #234C47;
}

.message-content
{
    margin-top: -10px;
    padding: 7px;
}

.chat-message {
    margin: 7px;
    width: 265px;
}

.message-content p {
    color: #fff;
    margin: 0;
    padding: 0;
}

.message-content span {
    font-size: 11px;
    color: #888888;
}

.room-button {
    left:25%;
    background-color: #888888;
    position: relative;
    color:white;
    width: 125px;
    height:35px;
}

.exit-room {
    cursor: pointer;
    display: none;
    position:relative;
    left:80px;
}

.toggle-delete {
    position:relative;
    top:-28px;
    left: 122px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #888888; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #111111; 
}

#room-container {
    overflow-y: auto; 
    max-height: 100%;
    padding-bottom: 20px;
    padding-top:20px;
}

.badge{
    position:relative;
    top: -35px;
    left:100px;
    width:22px;


}

.button-title{

}

.button-location{

}
