*
{
    margin:0px;
    padding:0px;
}

html
{
    height: 100%;
}
  
body
{
    position:relative;
    min-height: 100%;
    background: #3c3d42;
    font-family: "Roboto";
    background-size: cover;
    overflow: hidden;
} 

textarea
{
    resize: none;
}

/* Map Page Stuff */

#mappage
{
    
}

#menubar
{
    position: fixed;
    margin:30px;
    width:40%;
    z-index: 2;
}

.profilepic
{
    background: url('../assets/profilepic/placeholder.png') no-repeat;
    background-size: contain !important;
    cursor: pointer;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

.bigpic
{
    position: fixed;
    z-index: 10;
    left:30px;
    height: 60px;
    width: 60px;
}

.chatpic
{
    height: 40px;
    width: 40px;
}

.foreign-message .chatpic
{
    float: left;
}

.local-message .chatpic
{
    float: right;
}

.profilepic:hover
{
    box-shadow: 0px 2px 2px #888888;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#searchbar
{
    position:relative;
    width: 80%;
    left: 75px;
    margin: 10px;
}

@media (max-width: 400px)
{
    #searchbar .input-group-btn .btn
    {
        width: 40px;
    }
}


@media (min-width: 400px)
{
    #searchbar .input-group-btn .btn
    {
        width: 70px;
    }
}


/* Login Stuff */

@media (max-width: 400px) 
{
    #centerlogin
    {
        width: 160px;
        margin-left: -90px;
        margin-top: -270px;
        position:absolute;
    }
}

@media (min-width: 400px) {
    #centerlogin
    {
        width: 360px;
        margin-left: -180px;
        margin-top: -180px;
    }
}

#loginpage
{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../assets/backgrounds/forest-dim.jpg') no-repeat #161718;
    background-size: cover;
    z-index: 5;
}

#centerlogin
{
    top: 50%;
    left: 50%;
    position:absolute;
    text-align: center;
    display: block;
}

#unsupportedFeatures {
	font-size: 20pt;
	text-align: center;
	display: none;
	top: 20px;
	position: relative;
}

#unsupportedFeaturesMessage {
	
}

#localelogo
{
    position: relative;
    background: url('../assets/logo/Locale-Logo.png') no-repeat 50% 50%;
    background-size: contain;
    display: block;
    height:170px;
    width: 100%;
}

#facebook
{
    text-align:center;
    float:left;
    background:#365195;
    padding:35px 10px 20px 10px;
    width:170px;
    height:170px; 
    border-radius:3px;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px #161718; 
    margin-right:10px;
    margin-top: 10px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#facebook:hover
{
box-shadow: 0px 0px 0px 0px #161718;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.fa-facebook
{
color:#fff;
font-size:7em;
display:block;
}

#google-plus
{
    text-align:center;
    float:left;
    background:#ce1f1f;
    padding:35px 10px 20px 10px;
    width:170px;
    height:170px; 
    border-radius:3px;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px #161718; 
    margin-right:10px;
    margin-top: 10px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#google-plus:hover
{
box-shadow: 0px 0px 0px 0px #161718;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.fa-google
{
color:#fff;
font-size:7em;
display:block;
}

a
{
color:#88887a;
text-decoration:none;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

a:hover
{
color:#fff;
text-decoration:none;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}


#connect
{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-align: left;
    padding-top:10px;
}

footer
{
    color: #fff;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    z-index: 1;
}

#mappage {
   height: 100%;
   width: 100%;
   position: absolute;
}

#map-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#chatarea {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: -384px;
}

.chatbox {
    z-index: 2;
    background: #F5F5F5;
    margin: 0px 5px;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #DDD;
    width: 300px;
    position: relative;
    float: right;
    bottom: 0px;
    box-shadow: 2px 2px 2px 0px #a4a7aa;
}

.chatbox-settings-window {
    display: none;
    position:absolute;
    background:#F5F5F5;
    width:0px;
    right:5px;
    border:1px solid #AAA;
    height:340px;
    top:40px;
    pointer-events:none; /*DON'T LEAVE THIS IN HERE!*/
    z-index:7;
}

.chatbox-container {
    position:relative;
}

.chatbox-input {
    position: relative;
    padding: 3px 2px 2px 2px;
}


.chatbox-input .input-group-btn .btn:hover
{
    color: #234C47;
}

.chatbox-header {
    height: 40px;
    width: 100%;
    padding: 0px;
}

.chatbox-controls {
    float: right;
    position: relative;
    width: 50px;
    z-index: 4;
}

.chatbox-controls div {
    float: right;
    padding: 0px 5px;
    margin: 1px;
    color: #808080;
}

.chatbox-controls .btn:hover {
    color: #888888;
}

.chatbox-icon {
    background: url('../assets/demo/nwhacks.png') no-repeat 50% 50%;
    background-size: cover;
    border-radius: 2px;
    float: left;
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.chatbox-title {
    float: left;
    position: relative;
    width: 205px;
    padding: 5px;
}

.chatbox-title div
{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

.chatbox-title .h1 {
    font-size: 14px;
    font-weight: 700;
}
.chatbox-title .h2 {
    font-size: 11px;
    color: #808080;
}

.chatbox-settings {
    position:relative;
    left: 295px;
    margin-top:10px;
    top:45px;
    z-index: 8;
}


#profile-content-sidr {
  padding: 0px 0px 0px 90px;
}

#profile-content-sidr h1
{
  margin: 20px 0px 6px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile-content-sidr p
{
  margin: 0px 0px 15px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#my-rooms {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}


#my-room-container{
    list-style: none;
    margin: 10px;
}

#my-room-container .btn-group > .btn{
    text-align: left;
    height: 54px;
}

#my-room-container .delete-locale {
    float: right;
}

#my-room-container .update-locale {
    float: right;
}

#my-room-container .panel{
    margin: 10px 25px;
}

#my-room-container .chatbox-title{
    width: 180px;
}

#my-room-container .fa-pencil{
    margin: 13px 0px;
}

.chatbox-messages {
    border-radius: 0px 0px 2px 2px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    position: relative;
    height: 300px;
    background: #fff;
}

.chatbox-content {
/*    display: none;*/
}

.messages-wrapper {
    overflow-x:none;
    position: absolute;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    bottom: 0;
}

.message-content-wrapper {
    width: 220px;
    margin: 0px 0px 10px 5px;
    position: relative;
}

.foreign-message .message-content-wrapper
{
    border-top: 10px solid #393c3e;
    border-left: 10px solid transparent;
    float: left;
}

.foreign-message .message-content
{
    background: #393c3e;
}

.local-message .message-content-wrapper
{
    border-top: 10px solid #234C47;
    border-right: 10px solid transparent;
    float: right;
}

.local-message .message-content
{
    background: #234C47;
}

.message-content
{
    margin-top: -10px;
    padding: 7px;
    border-radius: 3px;
}

.chat-message {
    margin: 7px;
    width: 265px;
}

.message-content p {
    color: #fff;
    margin: 0;
    padding: 0;
}

.message-content span {
    font-size: 11px;
    color: #888888;
}

.room-button {
    width:250px;
}

.exit-room {
    cursor: pointer;
    display: none;
    position:relative;
    left:80px;
}

.toggle-delete {
    position:relative;
    top:-28px;
    left: 124px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    border-radius: 7px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: rgba(136, 136, 136, 0.3);
}



#my-room-container .badge {
	background: #858585;
	margin: 10px;
	position: absolute;
	right: 0;
}

.button-title{

}

.button-location{

}

#all-room-container{
    top:130px;
    position:relative;
    overflow-y: auto;
    overflow-x: none;
    max-height: 55%;
}

#all-room-header{
    top:125px;
    position:relative;
    font-size:20px;
    left:62px;
}

#no-rooms{
    position:relative;
    margin-left:40px;
    margin-bottom:-20px;
    margin-top:20px;
}

.waypoint-name h4
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.waypoint-info{
    display: none;
    height: 0px;
    top:-8px;
    position:relative;
    border-radius: 4px;
    right:-86px;
    width: 79.5%;
}

.waypoint-info .btn-group
{
    position: relative;
    float: right;
}

.waypoint-numUsers {
    float:right;
    position: relative;
}

.waypoint-description {
    float:left;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

#search-bar-wrapper {
    position:relative;
}

#add-room-dialog {
    display: none;
    height: 0;
    margin: 10px 35px;
    text-align: left;
    position:relative;
}

#add-locale {
    float:right;
}

.sidebar-content {
    padding: 0px;
	overflow-y: auto;
    max-height:80%;
}

.edit-locale {
    height:0px;
    display: none;
}

.btn-group {
    margin: 5px;
}

.waypoint-info ul {

}

.waypoint-info ul li {
    list-style: none;
    padding:5px;
    margin-left: 10px;
    padding-top:10px;
}

.waypoint-info ul li:hover{
    
}

.searchelement{
    width:100%;
}

.chatbox-settings-user-container {
	padding-top: 10px;
}

.chatbox-settings-user {
	padding: 5px 20px;
}

.chatbox-settings-user-profile {
	background-size: contain !important;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
}

.chatbox-settings-user-name {
	font-size: 16pt;
	display: inline-block;
	vertical-align: middle;
}